body {
  font-family: sans-serif;
  background-color: #f4f4f4;

  color: #333;
}

h1 {
  text-align: center;
}

.selectors {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

select {
  padding: 8px;
  font-size: 16px;
}

.route-card {
  max-width: 600px;
  margin: 0 auto;
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.route-card h2 {
  margin-top: 0;
}

.route-card a {
  color: #007BFF;
  text-decoration: none;
}
.map-legend {
  background: white;
  padding: 10px;
  line-height: 1.4em;
  font-size: 13px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
}
.route-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  background-color: #f9f9f9;
}
.route-card h3 {
  margin: 0 0 8px;
}
.route-card button {
  margin-top: 10px;
}
.city-label {
  pointer-events: none;
  text-align: center;
}
.mode-icon {
  display: inline-block;
  font-size: 16px;
  transform: translate(-50%, -50%);
}
.map-label{    font-size: 10px;
    background: white;
    padding: 2px;
    border-radius: 4px;
    display: inline-block;}
	
.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-left {
  flex: 1;
  /* Add your styles here */
}

.flex-right {
  flex: 1;
  /* Add your styles here */
}
.txt_content
{  padding: 20px;}